:root {
  /* Colores provisionales */
  --color-background: #0b0b0b;
  --color-surface: #ffffff;
  --color-surface-secondary: #f2f2f2;

  --color-text-light: #ffffff;
  --color-text-dark: #111111;
  --color-text-muted: #737373;

  --color-accent: #d5001c;

  /* Tipografía */
  --font-primary: Arial, Helvetica, sans-serif;

  /* Contenedor */
  --container-width: 1200px;

  /* Espaciados */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --space-2xl: 6rem;

  /* Bordes */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;

  /* Transiciones */
  --transition-fast: 180ms ease;
  --transition-normal: 300ms ease;
}